<div class="row">
  <div class="col-lg-4">
    <div class="list-group">
      <a (click)="Aplicarsonido(1)" class="list-group-item list-group-item-action " style="background-color: red;"></a>
      <a (click)="Aplicarsonido(2)" class="list-group-item list-group-item-action " style="background-color: orange"></a>
      <a (click)="Aplicarsonido(3)" class="list-group-item list-group-item-action"  style="background-color:yellow;"></a>
      <a (click)="Aplicarsonido(4)" class="list-group-item list-group-item-action " style="background-color:green;"></a>
      <a (click)="Aplicarsonido(5)" class="list-group-item list-group-item-action " style="background-color:teal;" > </a>
      <a (click)="Aplicarsonido(6)"class="list-group-item list-group-item-action "  style="background-color:blue;" ></a>
      <a (click)="Aplicarsonido(7)" class="list-group-item list-group-item-action " style="background-color:purple;"></a> 
    </div>
  </div>
</div>


